
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model List<NewsItemModel>

<div class="card">
    <div class="card-header bg-primary text-light"><h1>News</h1></div>
    <div class="card-body">
        <a class="btn btn-success m-2" asp-controller="NewsItem" asp-action="Add">Add News</a>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>CategoryID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated Last</th>
                    <th>Update - Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CategoryId</td>
                        <td>@item.Title</td>
                        <td>@item.Description.Substring(0,36)...</td>
                        
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="badge bg-success text-white">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-danger text-white">Not Active</span>
                            }
                        </td>
                        <td>@item.Created</td>
                        <td>@item.Updated</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-sm m-2">Update</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm m-2">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>


